* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}





.square {
    background: rgb(136, 174, 136);
    color: rgb(255, 255, 255);
    height: 200px;
    width: 200px;
    display: flex;
}